{% extends "user_center/base.html" %}
{% block pravite_css %}
    <link href="{{STATIC_URL}}user_center/css/wx.css" rel="stylesheet">
{% endblock %}
{% block maincontent %}
{% load i18n %}
{% load tz %}
<!-- 账户信息 start-->
<div style="padding:30px 40px 0 40px;">
        <div class="from-item clearfix">
            <label class="from-label">{% trans '用户角色' %}</label>
            <div class="from-content" style="margin-top: 10px;">
                <span class="from-input" value="">{{role_display}}</span>
            </div>
        </div>
        <div class="from-item clearfix">
            <label class="from-label">{% trans '用户名' %}</label>
            <div class="from-content">
                <input class="from-input" disabled type="text" value="{{username}}">
            </div>
        </div>
        <div class="from-item clearfix">
        <form id="language_form" style="margin-bottom: 10px;height: 25px;" action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <label class="from-label">{% trans '语言' %}</label>
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <select name="language" style="height: 25px;width:180px;">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                        {{ language.name_local }}
                    </option>
                {% endfor %}
            </select>
        </form>
        </div>
        <div class="from-item clearfix">
        <form id="timezone_form" style="margin-bottom: 10px;margin-top:10px;height: 25px;" action="{% url 'set_timezone' %}" method="POST">{% csrf_token %}
            <label class="from-label">{% trans '时区' %}</label>
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <select name="timezone" style="height: 25px;width:180px;">
                {% get_current_timezone as TIME_ZONE %}
                {% for tz in timezones %}
                <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected="selected"{% endif %}>{{ tz }}</option>
                {% endfor %}
            </select>
        </form>
        </div>
        <!-- 可以编辑区域 start -->
        <div class="editor-content">
            <div class="from-item clearfix">
                <label class="from-label">{% trans '中文名' %}</label>
                <div class="from-content">
                    <input class="from-input" id="chname" disabled type="text" value="{{chname}}">
                </div>
            </div>
            <div class="from-item clearfix">
                <label class="from-label">{% trans '联系电话' %}</label>
                <div class="from-content">
                    <input class="from-input" id="phone" disabled type="text" value="{{phone}}">
                </div>
            </div>
            <div class="from-item clearfix">
                <label class="from-label">{% trans '常用邮箱' %}</label>
                <div class="from-content">
                    <input class="from-input" id="email" disabled type="text" value="{{email}}">
                </div>
            </div>
            <div class="from-item clearfix">
                <label class="from-label">{% trans 'QQ' %}</label>
                <div class="from-content">
                    <input class="from-input" id="qq" disabled type="text" value="{{qq}}">
                </div>
            </div>
        </div>
        <!-- 可以编辑区域 end -->
        <span id="error_tip" style="color:red;margin-left: 146px;"></span>
        <div class="from-item clearfix">
            <label class="from-label">{% trans '常用操作' %}</label>
            <div class="from-content">
                <span class="btn-control" id="cancel-modify" style="display: none;">{% trans '取消' %}</span>
                <span class="btn-control" id="modify-info" data-type="modify">{% trans '修改个人信息' %}</span>
                <span class="btn-control" id="change-password-link"> <a href="{{reset_password_url}}" target="_blank" >{% trans '修改密码' %}</a> </span>

                <span id="bind_action">
                    {% if wx_type == 'mp' %}
                        {% if wx_userid %}
                            <a href="#unbind_weixin" role="button" class="btn-control other_operate" data-toggle="modal">{% trans '解绑微信' %}</a>
                        {% else %}
                            <a href="#bind_weixin" role="button" class="btn-control other_operate" data-toggle="modal">{% trans '绑定微信' %}</a>
                        {% endif %}
                    {%  elif wx_type == 'qy' or wx_type == 'qywx' %}
                        {% if wx_userid %}
                            <a href="#unbind_weixin" role="button" class="btn-control other_operate" data-toggle="modal">{% trans '解绑微信' %}</a>
                        {% else %}
                            <span class="btn-control other_operate" id="bind_weixin">{% trans '绑定微信' %}</span>
                        {% endif %}
                    {% endif %}
                </span>
                {% if role == '1' %}
                    <a href="{{user_manage_url}}" target="_blank" class="btn-control other_operate">{% trans '用户管理' %}</a>
                {% endif %}
            </div>
        </div>
</div>
{% if wx_type == 'mp' %}
    {% include "user_center/weixin_mp.part" %}
{% endif %}
{% if wx_type %}
    {% include "user_center/weixin_unbind.part" %}
{% endif %}
<!-- 账户信息 end-->
{% endblock %}
{% block pravite_js %}
<script src="{{STATIC_URL}}user_center/js/account.{{JS_SUFFIX}}?v={{STATIC_VERSION}}"></script>
{% if wx_type == 'mp' %}
    <script src="{{STATIC_URL}}user_center/js/weixin_mp.{{JS_SUFFIX}}?v={{STATIC_VERSION}}"></script>
{% elif wx_type == 'qy' or wx_type == 'qywx' %}
    <script src="{{STATIC_URL}}user_center/js/weixin_qy.{{JS_SUFFIX}}?v={{STATIC_VERSION}}"></script>
{% endif %}
<script>
    $("select[name='language']").select2({});
    $("select[name='timezone']").select2({});
    $("select[name='language']").change(function(){
        $('#language_form').submit();
    });
    $("select[name='timezone']").change(function(){
        $('#timezone_form').submit();
    });
</script>
{% endblock %}
