{% extends "user_center/base.html" %}
{% block maincontent %}
{% load i18n %}
<!-- API申请历史审批 start-->
<div style="padding:10px 20px 20px 20px;position:relative;">
	<table id="esb_history" class="table table-striped" style="width: 100%">
	    <thead>
	        <tr>
	            <th>{% trans '申请人' %}</th>
	            <th>{% trans '申请时间' %}</th>
	            <th>{% trans '申请应用' %}</th>
	            <th>{% trans '组件系统' %}</th>
	            <th>{% trans '组件名称' %}</th>
	            <th>{% trans '结果' %}</th>
	        </tr>
	    </thead>
	    <tbody></tbody>
	</table>
</div>
<!-- API申请历史审批 end-->
{% endblock %}
{% block pravite_js %}
<script src="{{STATIC_URL}}user_center/js/esb_history.{{JS_SUFFIX}}?v={{STATIC_VERSION}}"></script>
{% endblock %}
