@charset "UTF-8";
/*
 * 存放公共样式，如导航，按钮，底部，表单
 * eg: .bk-header{ ... }
 */
/*
 * 存放公共变量，如颜色值，字体大小
 * eg: $navColor
 */
* {
  box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, i, pre, form, fieldset, input, blockquote, th, td, p, span, button, textarea, b {
  margin: 0;
  padding: 0;
}

/*@font-face{
    font-family: 'pingFang';
    src:url('../');
}*/
input{
    font-family: 'pingFang-SC-Regular','微软雅黑',Arial;
}
body {
    min-width: 1008px;
    margin:0;
    font-size: 14px;
    font-family: 'pingFang-SC-Regular','微软雅黑',Arial;
  /* font-family:'微软雅黑',;*/ }

/*a {
    text-decoration: none;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
     transition: all .5s;
}*/
a{
   text-decoration: none;
}
a:hover {
  text-decoration: none; }

ul,ol,li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #4f515e;
    font-weight: normal;
}

p {
    color: #7b7d8a;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.hide {
    display: none !important;
    visibility: hidden;
}

input[type=number] {
    -moz-appearance: textfield;
}

input, select {
    background: none;
}

input[disabled] {
    background: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*个人中心 start*/
.page-personal{
    margin:0 auto;
    height: 100%;
    background: #fafafa;
}
.page-personal .personal-header{
    height: 50px;
    line-height: 50px;
    padding: 0 23px;
/*    border-top: 1px solid #666666;*/
    background: #616ed6;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1001;
}
.page-personal .personal-header .title{
    display: inline-block;
    float: left;
    font-size: 22px;
    color: #bfcbda;
}
.page-personal .personal-header .img-box{
    float: right;
}
.page-personal .personal-header a{
    cursor:pointer;
    font-size: 14px;
    color: #fff;
    padding-right:8px;
}
.page-personal .personal-header a:hover{
    color: #fff;
}
.page-personal .personal-header .img-box img{
    vertical-align:middle;
    padding-right: 8px;
}
.page-personal .content-personal{
    position:relative;
}
.page-personal .content-left{
    position: fixed;
    top: 0;
    bottom: 0;
    margin-top: 60px;
}
.page-personal .appy .bg-icon{
    background: url(../img/apply_icon.png) no-repeat;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 10px;
}
.page-personal .api-appy .bg-icon{
    background: url(../img/api_apply_icon.png) no-repeat;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 10px;
}
.page-personal .content-right{
    padding: 20px 20px 0 20px;
    margin-left: 150px;
    transition: all .5s ease;
    margin-top: 50px;
}
.page-personal .content-control{
    background: #fff;
    box-shadow: 0 0 10px #f1f2f2;
}
.page-personal .content-control .from-content{
    margin-left: 136px;
}
.page-personal .content-control .from-label{
    width: 160px;
    text-align: right;
    padding: 14px 40px 10px 0;
    float: left;
    vertical-align: middle;
    font-weight: bold;
    color:#434343;
    line-height: 1;
    box-sizing: border-box;
}
.page-personal .content-control .from-input{
    box-sizing: border-box;
    height: 36px;
    line-height: 1;
    color: #333333;
    border-radius: 2px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 0 10px;
    font-size: 14px;
    text-align: left;
    vertical-align: middle;
    outline: none;
    resize: none;
    border:none;
    width: 500px;
}
.page-personal .content-control .from-item{
    margin-bottom: 18px;
}
.page-personal .content-control .from-content .btn-control{
    display: inline-block;
    height: 36px;
    line-height: 36px;
    color:#3f96d5;
    font-size: 14px;
    cursor: pointer;
    padding-left: 10px;
}
/*.page-personal .content-control .from-content .btn-control:nth-child(3){
    margin-right:0;
}*/
.page-personal .content-control .from-content .btn-control{
    margin-right:40px;
}
/*重置datable样式 start*/
.page-personal table.dataTable thead > tr > th{
    color: #434343;
    font-size: 14px;
    text-align: center;
}
.page-personal table.dataTable{
    text-align: center;
    /*font-size: 12px;*/
    color:#333333;
}
.page-personal .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #Fff;
}
.page-personal .table-striped>tbody>tr:nth-of-type(even) {
    background-color: #f2f2f2;
}
.page-personal .table>thead{
    background: #f2f2f2;
}
.page-personal .table>thead>tr>td, .table>thead>tr>th{
    padding: 15px 0;
    border:none;
}
.page-personal table.dataTable thead > tr > th{
    padding-right: 0;
}
.page-personal .table>tbody>tr>td, .table>tbody>tr>th{
    padding: 21px 5px;
    border:none;
}
.page-personal div.dataTables_paginate ul.pagination{
    margin: 30px 0;
}
.page-personal .tfoot-info{
    position: absolute;
    bottom: 60px;
    color:#333333;
    font-size:14px;
}
.page-personal .tfoot-info span{
    color:#64a6db;
}
.page-personal .dataTables_filter label input{
    border:none;
    border-bottom:1px solid #ccc;
    width: 285px;
    text-align: left;
    padding-left: 20px;
    background: url('../img/search_icon02.png') no-repeat left 14px;
}
.page-personal .dataTables_filter{
    color: white;
}
/*重置datable样式 end*/
.br{
    border:1px solid #ccc!important;
}
.second-list li{
    cursor: pointer;
}
.editor-content{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 30px;
    margin-bottom: 20px;
}
/*个人中心 end*/
/*导航样式 start*/
.page-personal .king-flex-slide{
    position: fixed;
    left: 0;
    top: 50px;
    height: 100%;
    background: #313541;
    color: #8691b7;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 1000;
    bottom:0;
}
.page-personal .king-flex-slide .slide-switch{
    line-height: 45px;
    padding: 0 20px;
    text-align: right;
    border-bottom: 1px solid #363b47;
    cursor: pointer;
}
.page-personal .king-flex-slide .slide-switch svg{
    width: 22px;
}
.page-personal .slide-close .slide-switch svg{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.page-personal .king-flex-slide a{
    color: #8691b7;
}
.page-personal .king-flex-slide svg{
    height: auto;
    vertical-align: middle;
}
.page-personal .king-flex-slide path{
    fill: #8691b7;
}
.page-personal .king-flex-slide .nav-list svg{
    width: 20px;
}
.page-personal .king-flex-slide .nav-list li{
    position: relative;
}
.page-personal .king-flex-slide .open>a{
    background: #2b2e39;
    border-left: 4px solid #616ed6;
}
.page-personal .slide-close li:hover path{
    fill: #FFF;
}
.page-personal .king-flex-slide li:hover > a{
    border-left: 4px solid #616ed6;
}
.page-personal .king-flex-slide li>a{
    display: block;
    height: 60px;
    line-height: 60px;
    padding: 0 20px 0 30px;
    border-bottom: 1px solid #363b47;
    border-left: 4px solid transparent;
}
.page-personal .slide-open li>a{
    padding: 0;
}
.page-personal .slide-close li>a{
    padding: 0;
}
.page-personal .nav-list .icon-panel{
    -webkit-transition: padding .5s ease;
    transition: padding .5s ease;
    display: inline-block;
    width: 55px;
    text-align: center;
}
.page-personal .slide-open li>a .icon-panel{
    padding: 0 4px 0 5px;
}
.page-personal .slide-close li>a .icon-panel{
    padding: 0 4px 0 0;
}
.page-personal .nav-list .nav-name{
    position: absolute;
    left: 52px;
    top: 0;
    height: 60px;
    padding-left: 0px;
    border-bottom: 1px solid #363b47;
    overflow: hidden;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
}
.page-personal .slide-open .nav-list .nav-name{
    width: 100px;
    opacity: 1;
}
.page-personal .slide-close .nav-list .nav-name{
    width: 0;
    opacity: 0;
    visibility: hidden;
}
.page-personal .slide-close li:hover .nav-name{
    width: 165px;
    opacity: 1;
    visibility: visible;
    background: #2b2e39;
    -webkit-transition: all 0s ease;
    transition: all 0s ease;
}
.page-personal .slide-close li:hover .flex-subnavs{
    display: block!important;
}
.page-personal .slide-open{
    width: 150px;
    overflow: hidden;
}
.page-personal .slide-close{
    width: 60px;
}
.page-personal .slide-close .flex-subnavs{
    position: absolute;
    left: 60px;
    top: 60px;
    width: 157px;
}
.page-personal .flex-subnavs a{
    display: block;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    overflow: hidden;
}
.page-personal .flex-subnavs a.on{
    color: #FFF;
}
.page-personal .flex-subnavs a.on i{
    border: 2px solid #FFF;
}
.page-personal .flex-subnavs a:hover{
    color: #FFF;
}
.page-personal .flex-subnavs a:hover i{
    border: 2px solid #FFF;
}
.page-personal .flex-subnavs a i{
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #8691b7;
    border-radius: 50%;
    margin-right: 10px;
}
.page-personal .slide-close .flex-subnavs a{
    padding-left: 20px;
    background: #2b2e39;
}
.page-personal .slide-open .flex-subnavs{
    display:none;
    padding-left: 30px;
    background: #2b2e39;
}
.page-personal .slide-close .flex-subnavs{
    display:none;
}
.page-personal .content-close{
    margin-left: 60px!important;
}
/*导航样式 end*/

.aui_buttons button{
    border-radius: 0px !important;
    background: #FFF !important;
}
.aui_buttons button.aui_state_highlight{
    background: #2288cc !important;
}

#esb_approval tbody tr td, #dev_history tbody tr td, #dev_approval tbody tr td, #esb_history tbody tr td{
    max-width: 450px;
    word-wrap: break-word;
}