{% extends "app_statistics/base.html" %}
{% block maincontent %}
{% load i18n %}
<div class="tab-nav clearfix">
	<ul>
		<li class="tab-item active"><a>{% trans '按时间' %}</a></li>
		<li class="tab-item"><a>{% trans '按应用' %}</a></li>
	</ul>
</div>
<div class="tab-box">
	<div class="tab-content">
		<div class="tab-pane active">
			<div class="form" analysis_type="visit" according_type='by_time'>
				<label>
					<div class="range-text">{% trans '时间范围选择' %}</div>
					<input type="text" class="form-control range-time" placeholder="{% trans '选择日期...' %}">
				</label>
				<label>
					<span>{% trans '应用名称' %}</span>
					<input class="app_name" type="hidden" style="width:183px;">
				</label>
				<label>
					<span>{% trans '显示方式' %}</span>
					<input class="show_way" type="hidden" style="width:100px;">
				</label>
				<label class="mr-no">
					<button class="search-btn"><img src="{{STATIC_URL}}app_statistics/img/search_icom.png"></i>{% trans '查询' %}</button>
				</label>
			</div>
		</div>
		<div class="tab-pane">
			<div class="form" analysis_type="visit" according_type="by_app">
				<label>
					<div class="range-text">{% trans '时间范围选择' %}</div>
					<input type="text" class="form-control range-time" placeholder="{% trans '选择日期...' %}">
				</label>
				<label class="mr-no">
					<span>{% trans '应用名称' %}</span>
					<input class="app_name" type="hidden" style="width:183px;">
				</label>
				<label class="mr-no">
					<button class="search-btn"><img src="{{STATIC_URL}}app_statistics/img/search_icom.png"></i>{% trans '查询' %}</button>
				</label>
			</div>
		</div>
		<!-- 图表存放区域 -->
		<div id="chart_content" style="text-align: center;"></div>
	</div>
</div>
{% endblock %}
{% block pravite_js %}
{% endblock %}
